{
  "parser"  : "babel-eslint",
  "extends" : "eslint-config-airbnb-base",
  "env"     : {
    "browser" : false
  },
  "rules": {
    "arrow-parens": 0
  },
  "globals" : {
    "__DEV__"      : false,
    "__PROD__"     : false,
    "__DEBUG__"    : false,
    "__DEBUG_NEW_WINDOW__" : false
  },
}
